

<link rel="stylesheet" href="https://opensource.keycdn.com/fontawesome/4.6.3/font-awesome.min.css"
integrity="sha384-Wrgq82RsEean5tP3NK3zWAemiNEXofJsTwTyHmNb/iL3dP/sZJ4+7sOld1uqYJtE" crossorigin="anonymous">


<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#myPage">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#!/">HOME</a></li>
        <li><a  data-hash="topmusic" class="scroolpage" href="">Top Musicas</a></li>
        <li><a  data-hash="topalbuns" class="scroolpage" href="">Top Albuns</a></li>
        <li><a  data-hash="similar" class="scroolpage" href="">Cantores Similares</a></li>
        <li><a href="" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal2"><span class="glyphicon glyphicon-search"></span></a></li>
      </ul>
    </div>
  </div>
</nav>



<!--search box-->
<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">×</button>
          <h4 class="modal-title">Search Section</h4>
        </div>
        <div class="modal-body">





         <section class="search-box1" id="panel">
  <div class="container">
    <form class="form-inline" role="form">
      <div class="col-sm-8 col-xs-8 form-group top_search" style="padding-right:0px;">
        <div class="row">
          <label class="sr-only" for="search">Search here...</label>
          <span class="serach-footer"><img src="images/srch.png" /></span>
          <input type="text" class="form-control search-wrap" id="search" placeholder="Search here...">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 col-xs-4 form-group top_search" style="padding-left:0px;">
          <button type="submit" class="btn btn-default search-btn">SEARCH</button>
        </div>
      </div>
    </form>
  </div>
</section>



        </div>

        </div>
      </div>

    </div>
  </div>
<br>
<br>
<br>











<section>

<div ng-style="myObj" class="container container2" style="margin-top: 30px;" >
<div ng-style="profileHead" class="profile-head">
<div class="col-md- col-sm-4 col-xs-12">
<img src="{{ image }}" />
<h6>{{ name }}</h6>
</div><!--col-md-4 col-sm-4 col-xs-12 close-->


<div class="col-md-5 col-sm-5 col-xs-12">
<h5>{{hex}}</h5>
<p>Banda / Cantor </p>

<ul>
<li><span class="glyphicon glyphicon-tag"></span> {{tag}}</li>
<li><span class="glyphicon glyphicon-map-marker"></span> <a href="{{wikiLink}}">{{wikiText}}</a></li>

</ul>


</div><!--col-md-8 col-sm-8 col-xs-12 close-->




</div><!--profile-head close-->
</div><!--container close-->





<div id="sticky" class="container container3">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-menu" role="tablist">
      <li class="active">
          <a href="#profile" role="tab" data-toggle="tab">
              <i class="fa fa-male"></i> Profile
          </a>
      </li>
      <li><a href="#change" role="tab" data-toggle="tab">
          <i class="fa fa-key"></i> Edit Profile
          </a>
      </li>
    </ul><!--nav-tabs close-->

    <!-- Tab panes -->
    <div class="tab-content">
    <div class="tab-pane fade active in" id="profile">
    <div class="container container3">
<div class="col-sm-11" style="float:left;">
<div class="hve-pro">
  <h3>Sumario</h3>
<p>{{sumario}}</p>
</div><!--hve-pro close-->
</div><!--col-sm-12 close-->



</div><!--container close-->
</div><!--tab-pane close-->


<div class="tab-pane fade" id="change">
<div class="container fom-main">

</div><!--container close -->
</div><!--tab-pane close-->
</div><!--tab-content close-->
</div><!--container close-->




<div id="sticky" class="container container3">


    <!-- Tab panes -->
    <div class="tab-content">
    <div class="tab-pane fade active in" id="profile">
    <div class="container container3">
<br clear="all" />
<div class="row">
<div class="col-md-12">
<h4 id="topalbuns" class="pro-title">Top Albuns</h4>

</div><!--col-md-12 close-->



<div class="col-md-12">

<div class="table-responsive responsiv-table">
  <table class="table bio-table table-color">
      <tbody>
     <tr ng-repeat=" x in topAlbuns">
        <td><li class="glyphicon glyphicon-cd"></li> <a href="#!/albuns/{{ name }}/{{x.name}}">{{x.name}}</a></td>
        <td><li class="glyphicon glyphicon-equalizer"> : {{x.playcount}}</td>
        <td><img class="img-size" alt="{{x.name}}" src="{{x.image[1]['#text']}}"></td>

     </tr>

    </tbody>
  </table>
  </div><!--table-responsive close-->
</div><!--col-md-6 close-->

</div><!--row close-->




</div><!--container close-->
</div><!--tab-pane close-->


<div class="tab-pane fade" id="change">
<div class="container fom-main">

</div><!--container close -->
</div><!--tab-pane close-->
</div><!--tab-content close-->
</div><!--container close-->


<div id="sticky" class="container container3">


    <!-- Tab panes -->
    <div class="tab-content">
    <div class="tab-pane fade active in" id="profile">
    <div class="container container3">
<br clear="all" />
<div class="row">
<div class="col-md-12">
<h4 id="topmusic" class="pro-title pro-title2">Top Musicas</h4>
</div><!--col-md-12 close-->



<div class="col-md-12">

<div class="table-responsive responsiv-table">
  <table class="table bio-table">
      <tbody>
     <tr ng-repeat=" x in toptrack">
        <td><li class="glyphicon glyphicon-music"></li> {{x.name}}</td>
        <td><li class="glyphicon glyphicon-equalizer"> : {{x.playcount}}</td>
        <td><img class="img-size" alt="{{x.name}}" src="{{x.image[0]['#text']}}"></td>

     </tr>

    </tbody>
  </table>
  </div><!--table-responsive close-->
</div><!--col-md-6 close-->

</div><!--row close-->




</div><!--container close-->
</div><!--tab-pane close-->


<div class="tab-pane fade" id="change">
<div class="container fom-main">

</div><!--container close -->
</div><!--tab-pane close-->
</div><!--tab-content close-->
</div><!--container close-->

</section><!--section close-->



<!-- Container (The Band Section) -->
<div id="band" class="container text-center">
  <h3 id="similar">Similares</h3>
  <br>
  <div class="row">
    <div class="col-sm-4" ng-repeat="x in similar">
      <p class="text-center"><strong>{{x.name}}</strong></p><br>
      <a href="#!/details/{{ x.name }}" data-toggle="collapse">
        <img src="{{ x.image[2]['#text']}}" class="img-circle person" alt="Random Name" width="255" height="255">
      </a>
      <div id="demo" class="collapse">
        <p>Guitarist and Lead Vocalist</p>
        <p>Loves long walks on the beach</p>
        <p>Member since 1988</p>
      </div>
    </div>>
    </div>
  </div>
</div>
